.card {
  margin: 0;
    padding: 1rem;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0px;
    height:  95%;
    vertical-align: middle;
    
}

.card img{
    display: block;
    clear: both;
    margin: auto auto;
    
    width: 50vh ;
    
    
}

.delete {
    vertical-align: middle;
    color: red;
    margin: 0 auto;
    text-align: center;
}
.card h1, .card h2, .card p{
    padding-top: 1rem;
    text-align: center;
}



.male , .male p{
    background-color:#ADD5F7;
    color: #16193B;
     
    
}

.female , .female p{
    background-color: #FFD8E6;
    color:#87071F;
       
}


