.card {
  margin: auto;
    padding: 1rem;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
    height:  95%;
    vertical-align: middle;
}

.card img{
    display: block;
    clear: both;
    margin: auto auto;
    
    width: 100%;
    
    
}

.delete {
    vertical-align: middle;
    color: red;
    margin: 0 auto;
    text-align: center;
}
.card h1, .card h2, .card p{
    padding-top: 1rem;
    text-align: center;
}